<!-- inicio cabecera -->
<%- include("../template/head", {tituloweb: 'Red aliados'}); %>
 <!-- fin cabecera -->

  <body>
    <!-- navbar superior -->
    <%- include("../template/navHome") %>
    <!-- fin navbar -->
        <!-- inicio de el contenido -->

</nav>
  <div class="container fondo">
    <br>
    <br>
    <br>
    <br><br>
    <div class="container login">
      <form>
        <div class="mb-3 ">
          <h3 class="titulo">BIENVENIDO</h3>
          <label for="exampleInputEmail1" class="form-label">CORREO ELECTRONICO</label>
          <input type="email" class="form-control campos" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">CONTRASEÑA</label>
          <input type="password" class="form-control campos" id="exampleInputPassword1">
        </div>
        <div class="mb-2 py-2 ">

          <button type="submit" class="btn btn boton-form">
            <a style="text-decoration:none ; color: aliceblue;" href="/admin/menuAdmin">Iniciar sesión</a> </button>

        </div>
      </form>
    </div>
    <br><br><br> 
  </div>
  </div>
        <%# fin contenido  %>
        <%# inicio scripts  %>
        
        <%- include("../template/script") %>
        <%# fin scripts  %>
    </body>

    </html>