<%- include("../template/head", {tituloweb: 'Red aliados' }); %>
    <!-- fin cabecera -->

    <body>
        <!-- navbar superior -->
        <%- include("../template/navbar") %>
            <!-- fin navbar -->
            <!-- siderbar o nav izquierdo -->
            <%- include("../template/siderbar") %>
                <!-- fin de sidebar o nav izquierdo -->
                <!-- inicio de el contenido -->
			<br><br><br>
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h1 class="display-4" >Empresa</h1>
                            <a href="/permisos/create" style="height: 50%; background-color: #449B23;  color: #fff"  class="btn btn" >Nueva</a>
                        </div>
                    </div>
                <div class="card-body">
                    <table id="listarRegistros" class="table table-striped" style="width:100%">
                        <thead style="background-color: #449B23; color: #fff">
                            <tr>
                                <th># </th>
                                <th>Nombre empresa</th>
                                <th>Verificado</th>
                                <th>Administrador</th>
                                <th>Fecha Creaciont</th>
                                <th>Fecha Actualizacion</th>
                                <th>Fecha Eliminacion</th>
                                <th># Persona</th>
                                <th>Aliado</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Colores 20</td>
                                <td>0</td>
                                <td>true</td>
                                <td>2011/04/25</td>
                                <td>2011/04/25</td>
                                <td> </td>
                                <td>1</td>
                                <td>3</td>
                                <td>Activo</td>
                                <td><div class="custom-control custom-switch ">
                                    <a  href="/permiso/edit" class="fas fa-edit text-green-500 " style="color:rgb(255, 126, 27);"><a class="mr-6 ml-5"></a>
                                    <input type="checkbox" class="custom-control-input "
                                     id="customSwitch1"><label class="custom-control-label" for="customSwitch1"></label>
                                </div></td>  
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Carlos432@gmail.com</td>
                                <td>0</td>
                                <td>true</td>
                                <td>2011/04/25</td>
                                <td>2011/04/25</td>
                                <td> </td>
                                <td>1</td>
                                <td>3</td>
                                <td>Activo</td>
                                <td><div class="custom-control custom-switch ">
                                    <a  href="/permiso/edit" class="fas fa-edit text-green-500 " style="color:rgb(255, 126, 27);"><a class="mr-6 ml-5"></a>
                                    <input type="checkbox" class="custom-control-input "
                                     id="customSwitch1"><label class="custom-control-label" for="customSwitch1"></label>
                                </div></td>  
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>


                    <!-- fin contenido -->
                    <!-- inicio scripts -->
                    <script src="list.js"></script>
                    <%- include("../template/script") %>
                        <!-- fin scripts -->
    </body>

    </html>