<%#  inicio cabecera %>
<%- include("../template/head", {tituloweb: 'Red aliados' }); %>
<%# fin cabecera %>

    <body>
        <%#  Inicio de navbar superrior %>
        <%- include("../template/navbar") %>
            <%#  fin de navbar %> 
            <%#  fin de sidebar o nav izquierdo %> 
            <%- include("../template/siderbar") %>
                <%#  fin de sidebar o nav izquierdo %>                
                <%# inicio de el contenido  %>
                <br><br><br>
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <h1 class="display-4">Talentos</h1>
                                <a href="/talento/create" class="btn btn " data-toggle="modal"
                                    data-target="#exampleModal"
                                    style="height: 50%; background-color: #449B23;  color: #fff">Nuevo</a>

                            </div>
                   
                            <%# Button trigger modal %>

                            <%#  modal %>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Seleccione</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h6>¿El talento a crear tiene un natural o juridica?</h6>

                                        </div>
                                        <div class="modal-footer">
                                            <a href="/talento/create" type="button" class="btn btn"
                                                style="height: 50%; background-color: #449B23;  color: #fff">Natural</a>
                                            <a href="/talento/createEmpre" type="button"
                                                class="btn btn-dark">Juridica</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <%# Vertically centered modal %>
                            <div class="card-body">
                                <table id="listarRegistros" class="table table-striped" style="width:100%">
                                    <thead style="background-color: #449B23; color: #fff">
                                        <tr>
                                            <th># </th>
                                            <th>Cargo</th>
                                            <th>Nombre del Negocio</th>
                                            <th>Registro Industrial</th>
                                            <th>Descripcion Producto</th>
                                            <th>Convocatoria</th>
                                            <th>Estado</th>
                                            <th style="text-align: right; padding-right: 2%;">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Secretario</td>
                                            <td>Alitas voladoras</td>
                                            <td>8912645</td>
                                            <td>Alitas cocinadas con muy finas hierbas de cannabis</td>
                                            <td>No</td>
                                            <td>Activo</td>
                                            <td>

                                                <div class="custom-control custom-switch " class="">
                                                    <a href="/talento/edit" class="fas fa-edit text-green-500 "
                                                        style="color:rgb(255, 126, 27);"><a class="mr-6 ml-5"></a>
                                                        <input type="checkbox" class="custom-control-input "
                                                            id="customSwitch1"><label class="custom-control-label"
                                                            for="customSwitch1"></label>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <%# fin contenido  %>
                <%# inicio scripts  %>
                
                <%- include("../template/script") %>
                <%# fin scripts  %>
    </body>

    </html>