 <%# inicio cabecera %>
<%- include("./template/head", {tituloweb: 'Red aliados'}); %>
 <%# fin cabecera  %>

  <body>
    <%# inicio navbar superior %>
    <%- include("./template/navHome") %>
     <%# fin navbar %>
         <%# inicio contenido  %>
   
    <div class="mt-5">
      <div class="grid grid-cols-4 " style="display: flex;">
        <div class=" ">
          <img class="" src="/img/baner.png">
        <%# <img class="w-full" src="/img/baner.png" style="margin-left: 70px; margin-top: 50px; ">   %>

        </div>
        <div class="grid grid-col-4 col-span-4 lg:col-span-2  items-center  xl:ml-40">
          <div class="text-center lg:text-left lg:ml-4 col-span-4 uppercase capitalize font-mono">
            <h1 class="text-yellow-500 text-4xl sm:text-7xl font-bold mt-7 mb-3" style="color:#449B23; font-size:80px;">
              Red Aliados</h1>
          </div>
          <div class="text-center text-1xl lg:text-left md:text-2xl p-4  col-span-4 mb-5">
            <p style="margin-left: 100px ; margin-right: 100px; font-size: 25px;">Lorem ipsum, dolor sit amet
              consectetur
              adipisicing elit. Hic dolores delectus debitis, unde repellat, culpa voluptates modi velit fuga minima in
              eligendi inventore fugiat maiores molestiae ipsa deserunt. Vero repellat, modi est officia nihil qui. Esse
              iusto quae ab, porro cumque ea sequi expedita molestias libero unde similique! Non iste delectus beatae,
              cupiditate accusantium quisquam expedita ratione dolor tenetur iure. Saepe, nisi animi. Ea reiciendis eos
              totam? Sed quos eius nemo facere, ad suscipit alias magnam atque quasi provident molestias natus unde
              iusto
              quidem adipisci facilis optio illo corrupti, eum odio libero quisquam repellendus similique! Laboriosam
              tenetur cumque earum ratione?</p>
          </div>
          <div class="col-span-4 text-center lg:text-left">
            <button><a href="postulate"
              class="bg-yellow-z text-light font-mono rounded-full w-40 h-10 mr-8 ml-5 hover:bg-yellow-600 botones"
              style="background-color: #449B23;border-radius:10px; border-color: #449B23; padding:  15px 45px; font-size: 25px; ">¡Postularme!</a></button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5 py-5" margin-top:30px;>
      <div class="grid grid-cols-4 " style="display: flex;">
        <div class="text-center text-1xl lg:text-left md:text-2xl p-4  col-span-4 mb-5">
          <p style="margin-left: 100px ; margin-right: 100px; font-size: 25px;">Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Hic dolores delectus debitis, unde repellat, culpa voluptates modi velit fuga minima in
            eligendi inventore fugiat maiores molestiae ipsa deserunt. Vero repellat, modi est officia nihil qui. Esse
            iusto quae ab, porro cumque ea sequi expedita molestias libero unde similique! Non iste delectus beatae,
            cupiditate accusantium quisquam expedita ratione dolor tenetur iure. Saepe, nisi animi. Ea reiciendis eos
            totam? Sed quos eius nemo facere, ad suscipit alias magnam atque quasi provident molestias natus unde iusto
            quidem adipisci facilis optio illo corrupti, eum odio libero quisquam repellendus similique! Laboriosam
            tenetur cumque earum ratione?</p>
        </div>
        <div>
          <img class="" src="/img/baner.png">
        </div>
      </div>
    </div>
    </div>
    </div>
        <%# fin contenido  %>
        <%# inicio scripts  %>
        <%- include("./template/script") %>
        <%# fin scripts  %>
    </body>
    <%# inicio footer  %>
    <%- include("./template/footer") %>
    <%# fin footer %>
    </html>

    