<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Red Aliados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" 
    crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
     integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="http://red-aliados.herokuapp.com/assets/img/favicon.png">
    <link rel="stylesheet" href="http://red-aliados.herokuapp.com/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="http://red-aliados.herokuapp.com/assets/css/feathericon.min.css">
    <link rel="stylesheet" href="../../css/style.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
     integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
     integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<style>

  .navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: aliceblue;
  
  }
  .menu_1{
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.548);
  }
  .botones{
    box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.401);

  }
  .d{
    width: 30%;
   
  }
  .menu{
    margin-left: 5%;
  }
  .p{
    padding-left: 10%;
  }
  .t{
    font-size: x-large;
  }
  .icon{

    padding-left: 95%;
  }
  
.footer-style {
    padding-top: 20px;
    background-color: #449B23;
}
footer {
  color: white;
}
footer h3 {
  
  margin-bottom: 30px;
  
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2C3E50;
}
footer .footer-col {
 
  margin-bottom: 40px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}
  
  .redes{
    padding-top: 12%;

  }

</style>
<body >
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-8">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar menu_1" style="background-color:#449B23;">
    
  
    <div class="container py-3 d">
      <div >
      <a class="navbar menu"  type="submit" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" >
        <img src="../img/logo v2.png"  width="10%" alt="">

      </a>
      
    </div>
      
     </div>
    <div  class="container p" style="justify-content:stretch;">
    <a class="nav-link active t" aria-current="page" href="home.html" style="margin-left:1rem;">HOME</a>
    <a class="nav-link t" href="#" style="margin-left:1rem ; ">SERVICIOS</a>
    <a class="nav-link t" href="#" style="margin-left:1rem ;">CONTACTENOS</a>
    
  </div>
       

<div  class="container icon " style="justify-content: end; ">
  
<a class="nav-link active " aria-current="page" href="../views/auth/login.html" type="submit" style="margin-left:1rem ;  margin-top: -35px;">
  <i class="material-icons"  style="font-size:50px;  margin-top: -35px;  ">account_circle</i>
 
</a>
<!-- <ul class="dropdown-menu" style="margin-left: 1650px;" >
  <li><a class="dropdown-item" href="#">Action</a></li>
  <li><a class="dropdown-item" href="#">Another action</a></li>
  <li><a class="dropdown-item" href="#">Something else here</a></li>
</ul> -->
</div>


  </nav>
      


  <div class="mt-5"  >
  <div class="grid grid-cols-4 " style="display: flex;">
        <div class=" ">
            <img class="w-full" src="http://red-aliados.herokuapp.com/img/baner.png" alt="" style="margin-left: 70px; margin-top: 50px;">
            
        </div>
        <div class="grid grid-col-4 col-span-4 lg:col-span-2  items-center  xl:ml-40">
            <div class="text-center lg:text-left lg:ml-4 col-span-4 uppercase capitalize font-mono">
                <h1 class="text-yellow-500 text-4xl sm:text-7xl font-bold mt-7 mb-3" style="color:#449B23; font-size:80px;">Red Aliados</h1>
            </div>
            <div class="text-center text-1xl lg:text-left md:text-2xl p-4  col-span-4 mb-5">
                <p style="margin-left: 100px ; margin-right: 100px; font-size: 25px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic dolores delectus debitis, unde repellat, culpa voluptates modi velit fuga minima in eligendi inventore fugiat maiores molestiae ipsa deserunt. Vero repellat, modi est officia nihil qui. Esse iusto quae ab, porro cumque ea sequi expedita molestias libero unde similique! Non iste delectus beatae, cupiditate accusantium quisquam expedita ratione dolor tenetur iure. Saepe, nisi animi. Ea reiciendis eos totam? Sed quos eius nemo facere, ad suscipit alias magnam atque quasi provident molestias natus unde iusto quidem adipisci facilis optio illo corrupti, eum odio libero quisquam repellendus similique! Laboriosam tenetur cumque earum ratione?</p>
            </div>
            
            <div class="col-span-4 text-center lg:text-left">
                <button class="bg-yellow-z text-light font-mono rounded-full w-40 h-10 mr-8 ml-5 hover:bg-yellow-600 botones" style="background-color: #449B23;border-radius:10px; border-color: #449B23; padding:  15px 45px; font-size: 25px; " >¡Postularme!</button></a>

            </div>
        </div>
  </div>
</div>


<div class="mt-5 py-5" margin-top:30px; >
  <div class="grid grid-cols-4 " style="display: flex;">
    
           
            <div class="text-center text-1xl lg:text-left md:text-2xl p-4  col-span-4 mb-5">
                <p style="margin-left: 100px ; margin-right: 100px; font-size: 25px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic dolores delectus debitis, unde repellat, culpa voluptates modi velit fuga minima in eligendi inventore fugiat maiores molestiae ipsa deserunt. Vero repellat, modi est officia nihil qui. Esse iusto quae ab, porro cumque ea sequi expedita molestias libero unde similique! Non iste delectus beatae, cupiditate accusantium quisquam expedita ratione dolor tenetur iure. Saepe, nisi animi. Ea reiciendis eos totam? Sed quos eius nemo facere, ad suscipit alias magnam atque quasi provident molestias natus unde iusto quidem adipisci facilis optio illo corrupti, eum odio libero quisquam repellendus similique! Laboriosam tenetur cumque earum ratione?</p>
                

            </div>
            <div class=" ">
              <img class="w-full" src="http://red-aliados.herokuapp.com/img/baner.png" alt="" style="">
              
          </div>
            
            
        </div>
  </div>
  
</div>


















</div>


    <script>
    const btn = document.querySelector("button.mobile-menu-button");
    const btnimg = document.querySelector("svg.imagensita");
    const menu = document.querySelector(".mobile-menu");

    btn.addEventListener("mouseenter", () => {
      btnimg.classList.add('hover:text-red-500');
      btnimg.classList.add('transitionnnn');
    });

    btn.addEventListener("click", () => {
      menu.classList.toggle("hidden");
    });

  </script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <!-- <script src="http://red-aliados.herokuapp.com/js/main/signup.js"></script> -->

    
</body>
<footer class="text-center footer-style">
  <div class="container">
      <div class="row">
          <div class="col-md-4 footer-col redes">
              <h6>Redes sociales</h6>
             <img src="../img/facebook.png" width="6%" alt="">
             <img src="../img/twitter.png" width="6%" alt="">
             <img src="../img/instagram.png" width="6%" alt="">
                                   

          </div>
          <div class="col-md-4 footer-col-1 py-4">
              <h5>CONTACTENOS</h5>
              <ul class="list-inline">
                  <li class="">
                    <a >
                      <i   class="material-icons ">location_on</i>
                      Calle 45E #36-59 Medellín
                    </a>
                    
                  </li>
                  <a style ="left: 100%;" >
                    <i class="material-icons">local_phone</i>
                    313 4522401            
                  </a>
                  
                  <li>
                    <a>
                      <i class="material-icons">email</i>
                      correosena@misena.edu.co
                    </a>
                  </li>
                 
              </ul>
          </div>
          <div class="col-md-4 footer-col py-4">
              <h5>HORARIO:</h5>
              
              <p class="py-2">Lunes - Sábado: 6 am - 10 pm</p>
              <p>Domingo: CERRADO</p>
          </div>
      </div>
  </div>
</footer>
</html>