<%#  inicio cabecera %>
<%- include("../template/head", {tituloweb: 'Red aliados' }); %>
<%# fin cabecera %>

    <body>
        <%#  Inicio de navbar superrior %>
        <%- include("../template/navbar") %>
            <%#  fin de navbar %> 
            <%#  fin de sidebar o nav izquierdo %> 
            <%- include("../template/siderbar") %>
                <%#  fin de sidebar o nav izquierdo %>                
                <%# inicio de el contenido  %>


                <%# fin contenido  %>
                <%# inicio scripts  %>
                
                <%- include("../template/script") %>
                <%# fin scripts  %>
    </body>

    </html>