<%- include("../template/head", {tituloweb: 'Red aliados' }); %>
    <!-- fin cabecera -->

    <body>
        <!-- navbar superior -->
        <%- include("../template/navbar") %>
            <!-- fin navbar -->
            <!-- siderbar o nav izquierdo -->
            <%- include("../template/siderbar") %>
                <!-- fin de sidebar o nav izquierdo -->
                <!-- inicio de el contenido -->


                <!-- fin contenido -->
                <!-- inicio scripts -->
                <script src="list.js"></script>
                <%- include("../template/script") %>
                    <!-- fin scripts -->
    </body>

    </html>