<footer class="text-center footer-style">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col redes">
          <h6>Redes sociales</h6>
          <img src="./img/facebook.png" width="6%">
          <img src="./img/twitter.png" width="6%" alt="">
          <img src="./img/instagram.png" width="6%" alt="">
  
  
        </div>
        <div class="col-md-4 footer-col-1 py-4">
          <h5>CONTACTENOS</h5>
          <ul class="list-inline">
            <li class="">
              <a>
                <i class="material-icons ">location_on</i>
                Calle 45E #36-59 Medellín
              </a>
  
            </li>
            <a style="left: 100%;">
              <i class="material-icons">local_phone</i>
              313 4522401
            </a>
  
            <li>
              <a>
                <i class="material-icons">email</i>
                correosena@misena.edu.co
              </a>
            </li>
  
          </ul>
        </div>
        <div class="col-md-4 footer-col py-4">
          <h5>HORARIO:</h5>
  
          <p class="py-2">Lunes - Sábado: 6 am - 10 pm</p>
          <p>Domingo: CERRADO</p>
        </div>
      </div>
    </div>
  </footer>