<nav class="navbar menu_1" style="background-color:#449B23;">
      
</div>  
<div class="container ml-3 pb-3 pt-3" style="justify-content:stretch; ">
  <img src="/img/logo v2.png"  width="4%" alt="">
  <a class="nav-link active t" aria-current="page" href="/" style="margin-left:1rem;color:white ;">HOME</a>
  <a class="nav-link t" href="#" style="margin-left:1rem ; color:white ; ">SERVICIOS</a>
  <a class="nav-link t" href="#" style="margin-left:1rem ; color:white ;">CONTACTENOS</a>
</div>
<div class="container icon " style="justify-content: end; ">
  <a class="nav-link active " aria-current="page" href="/auth/login" type="submit"
    style="margin-left:1rem ;  margin-top: -35px;">
    <i class="material-icons" style="font-size:50px; color:white ; margin-top: -35px;  ">account_circle</i>
  </a>
</div>
</nav>